$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "stop-results/stop-results.scss";
@import "code-mirror/code-mirror.css";

#stop-monitoring-form, #canned-requests, .xml-validation-form {
  margin-bottom: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;

}
.hero-banner {
  height: 420px;
  width: 100%;
  position: relative;
  .hero-banner-wrapper {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    .hero-banner-pic {
      background: url(../images/tramway.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }
}
.explaination-text {
  font-weight: 300;
  color: grey;

  h2{color:#333;margin-bottom:40px;}
  h5{
    color:#333;margin:20px 0 10px;padding-bottom:5px;
    text-transform:uppercase;
    border-bottom:1px dotted;
  }
}
.page-wrapper {
  overflow: hidden;
  //margin-top: -20px;
}
:app-wrapper {
  height::100%;
}

// App Wrapper
.app-wrapper{position:relative;}

// Right Panel
.navbar+.page-content{position:relative;height:740px;}
.right-panel-wrapper {
  position:absolute;top:0;left:100%;z-index:5;
  height:700px;width:505px;
  margin-left:-15px;
};
#right-panel-wrapper {
  //overflow:hidden;

  .pannel-trigger{
    display:block;
    position:absolute;left:-19px;top:40px;z-index:6;
    width:20px;height:80px;
    background-color:#333;color:#fff;line-height:80px;text-align:center;
    @include border-radius(4px 0px 0px 4px);
    -webkit-box-shadow:-1px 0 2px 0 rgba(0,0,0,0.5);
    box-shadow:-1px 0 2px 0 rgba(0,0,0,0.5);
    &.open {
      left: -4px;
    }
  }

  .right-app-panel{
    background-color:#333;color:#fff;
    @include border-radius(4px 0px 0px 4px);
    -webkit-box-shadow:-1px 0 4px 0 rgba(0,0,0,0.5);
    box-shadow:-1px 0 4px 0 rgba(0,0,0,0.5);
    padding:20px 40px;

    legend{color:#fff;}
    .form-group p{margin: 5px 0;}
    .form-group .btn[type='submit']{margin-top:30px;}
  }
  .panel-body {
    color:#555;
  }
}

textarea.xml-paste-zone {
  height:400px;
  box-shadow: 2px 2px 1px #ccc;
  padding-left:20px;
  width: 80%;
  max-width: 600Px;
  margin: auto;
  border: none;
  &:focus {
    border:none;
    box-shadow: 2px 2px 1px #ccc;
  }
}
#close-slider {
  position: asolute;
  top: 5px;
  left: 5px;
}
.slider-action-area {
  position:relative;
  height: 100%;
  text-align:center;
  .chouette-action-man {
    height:50px;
    margin:auto;
  }

}
.browsehappy {
  margin: 0.2em 0;
  background: #eee;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height:60px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }

//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }

//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }

// Fancy header
.fancy-header{
  border:none;

  .container{
    @include clearfix;padding-top:10px;padding-bottom:10px;
    height:80px;
  }

  h3{float:left;margin:0;padding:0;line-height:60px;}

  .chouette-action-man{
    float:right;

    a{
      display:block;

      .chouette-logo {
        height:60px;width:auto;
      }
    }
  }
}
// Fancy Navbar
.fancy-navbar{
  border:none;@include border-radius(0);

  .dropdown-menu{
    border:none;@include border-radius(0);padding:0;

    >li>a{padding:10px 20px;}
  }
}
// Inverted dropdown
.dropdown-inverse>.dropdown-menu{
  background-color:#222;

  >li>a{
    color:#9d9d9d;

    &:hover{background-color:#090909;color:#fff;}
  }
}
